.card__image{
  width: 413px;
  height: 413px;
  border-radius: 8px;
  padding: 0;
  margin: 0;
  object-fit: cover;
  display: block;
}

.card__content{
  display: flex;
  justify-content: space-between;
  max-width: 413px;
  margin: 12px 0 0;
}

.card__title{
  margin: 0;
  color: #212121;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button{
  width: 23px;
  height: 20px;
  opacity: 40%;
  background-image: url(../images/likebutton.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}

.card__like-button:hover{
  cursor: pointer;
  opacity: 100%;
}

@media screen and (max-width: 870px){
  .card{
    width: 288px;
  }

  .card__image{
    width: 288px;
    height: 288px;
  }

  .card__content{
    max-width: 288px;
  }

  .card__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
  }

  .card__like-button{
    width: 20px;
    height: 18px;
    padding: 0;
    background-size: cover;
  }
}