.modal {
  visibility: hidden;
  opacity: 0;
  background-color: #00000080;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: visibility 0.3s, opacity 0.3s ease-in;
}

.modal__title{
  font-weight: 500;
  font-size: 32px;
  width: 100%;
  margin: 0 0 32px;
  color: #212121;
  line-height: 1;
}

.modal__label{
  font-weight: 500;
  font-size: 16px;
  color: #212121B3;
}

.modal__form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input{
  display: block;
  margin: 8px 0 32px;
  max-width: 630px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #21212166;
  padding: 16px 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  box-sizing: border-box;
}

.modal__input::placeholder{
  color:#2121214D;
}

.modal_is-opened{
  visibility: visible;
  opacity: 1;

}

.modal__container{
  background-color: #fff;
  border-radius: 8px;
  max-width: 730px;
  width: 100%;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-button{
  background-image: url(../images/closebutton.svg);
  background-position: center;
  background-color: transparent;
  opacity: 40%;
  border: none;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  padding: 0;
}

.modal__submit-button{
  background-color: #212121;
  color: #fcf5e5;
  font-weight: 500;
  font-size: 16px;
  max-width: 156px;
  width: 100%;
  height: 52px;
  border-radius: 8px;
}

.modal__close-button:hover {
  opacity: 80%;
  cursor: pointer;
}

.modal__submit-button:hover {
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 870px) {
  .modal {
    padding: 0 10px;
  }

  .modal__title{
    font-size: 20px;
    margin: 0 0 24px;
  }

  .modal__input{
    margin: 8px 0 24px;
    max-width: none;
  }

  .modal__close-button{
    top: 3px;
    right: 5px;
  }

  .modal__container{
    padding: 12px;
  }

  .modal__submit-button{
    max-width: none;
  }

  .modal__input::placeholder{
    font-size: 16px;
  }


}